<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <h1 class="festive">Festive!</h1>
</main>
    <section>
      <div class="holiday-search-links">
        <div id="thanksgiving-link">
          <a href="/posts?holiday=Thanksgiving">Thanksgiving</a>
        </div>
        <div id="halloween-link">
          <a href="/posts?holiday=Halloween">Halloween</a>
        </div>
        <div id="kwanzaa-link">
          <a href="/posts?holiday=Kwanzaa">Kwanzaa</a>
        </div>
        <div id="hanukkah-link">
          <a href="/posts?holiday=Hanukkah">Hanukkah</a>
        <div id="christmas-link">
          <a href="/posts?holiday=Christmas">Christmas</a>
        </div>
        </div>
        <div id="new-years-eve-link">
          <a href="/posts?holiday=New-Years-Eve">New Years Eve</a>
        </div>
        <div id="indigenous-peoples-day-link">
          <a href="/posts?holiday=Indigenous-Peoples-Day">Indigenous People's Day</a>
        </div>
    </div>
      
    </section>








<%- include('./partials/footer') %>
