html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #eeddba;
  color:black;
  height: 100vh;
  /* Use a system font, if none are available use any found sans-sarif font */
  /* font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif; */
  margin: 0;
}

section {
  height: 80%;
}

.holiday-search-links {
  border: 1px solid black; 
  height: 60%;
}

#thanksgiving-link {
  border:1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 10%;
}

#halloween-link {
  border:1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 10%;
}

#kwanzaa-link {
  border:1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 10%;
}



