html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #eeddba;
  color:black;
  min-height: 100vh;
  /* Use a system font, if none are available use any found sans-sarif font */
  /* font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif; */
  margin: 0;
}

.links {
  height: 600px;
  margin:100px 0 0 0;
}

.holiday-search-links {
  border: 1px solid black; 
  height: 60%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#indigenous-peoples-day-link {
  border:1px solid black;
  background-color: #e66f39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#thanksgiving-link {
  border:1px solid black;
  background-color: #998862;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#halloween-link {
  border:1px solid black;
  background-color: #e39135;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#kwanzaa-link {
  border:1px solid black;
  background-color: #e66f39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#hanukkah-link {
  border:1px solid black;
  background-color: #998862;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#christmas-link {
  border:1px solid black;
  background-color: #e39135;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}

#new-years-eve-link {
  border:1px solid black;
  background-color: #e66f39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 20%;
}


