html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #eeddba;
  color:black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

#festive-font {
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
}

nav {
  background-color: #75482c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
  min-height: 60px;
}

a {
  color: white;
}

div {
  margin: 0 10px 0 10px;
}



.right {
  margin-left: auto;
}
