<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<section>
  
  <h1>Update Post!</h1>

  <form id="post-form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
      <input
      type="text"
      name="text"
      autocomplete="off">
      <select>
        <option>Halloween</option>
        <option>Thanksgiving</option>
        //holiday drop-down
      </select>
      <select>
        <option>Recipe</option>
        <option>Movie</option>
        //category drop-down
      </select>

      //author of posts 

      <button type="submit">Save Post!</button>
    </form>
  
  
</section>


<%- include('../partials/footer.ejs') %>