<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Post</h1>

	<div>
    <form action="" method="">
      //do I need a method Override?
      <input
      type="text"
      name="text"
      autocomplete="off">
      <select>
        //holiday drop-down
      </select>
      <select>
        //category drop-down
      </select>

      //author of posts 
      <button type="submit">Submit Posts</button>
    </form>

  </div>
</section>

<%- include('../partials/footer') %>