<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Add Post</h1>

	<div>
    <form action="" method="">
      //do I need a method Override?
      
    </form>

  </div>
</section>

<%- include('../partials/footer') %>